body {
    font-family: 'Lato', sans-serif;
}
.background_img {
    background-image: url("../images/bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header {
    box-sizing: border-box;
    h1 {
        padding-top: 40px;
        text-align: center;
        margin: 0 auto;
    }
    h2 {
        color: $base-font-color;
        text-align: center;
        font-weight: 300;
        font-size: 38px;
    }
    p {
        color: HSL(120, 3%, 93%);
        text-align: center;
        font-weight: 300;
        font-size: 21px;
    }
}
.menu-list {
    display: flex;
    justify-content: space-between;
}
.menu2 {
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: light;
    font-size: $font-size-small;
    ul {
        display: flex;
        li {
            list-style-type: none;
            padding: 0 10px;
            a {
                text-decoration: none;
                color: $font-color-darker;
                &:hover {
                    color: #9F449B;
                }
            }
        }
    }
}
section {
    background-color: $background-color-darker;
}
.first-section {
    display: flex;
    height: 790px;
    padding-top: 170px;
    h3 {
        color: $font-color-darker;
        padding-top: 50px;
        text-align: center;
    }
    p {
        color: $font-color-darker;
        padding-top: 20px;
        text-align: center;
        font-weight: 400;
    }
    // @media screen and (max-width: 800px) {
    //   flex-wrap: wrap;
    // }
}
.second_section {
    height: 1026px;
    background-color: $base-font-color;
    display: grid;
}
.devices {
    flex: 1 1 50%;
    justify-content: flex-start;
}
.txt-and-btn {
    flex-direction: column;
    padding-left: 30px;
    p {
        color: $font-color-darker;
        line-height: 35px;
    }
}
.content {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
.btn {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    background-color: $font-color;
    color: $base-font-color;
    box-shadow: 0 5px $shadow-color;
    margin-top: 90px;
    padding: 1em 3em;
    border-radius: 5px;
}
.btn:hover {
    background-color: $base-font-color;
    border: 1px solid $shadow-color;
    color: $shadow-color;
    box-shadow: 0 -5px $shadow-color;
}
.section-colorbg {
    background-image: url("../images/quotebg.png");
    height: 522px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    div {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.h1-txt {
    font-size: 44px;
    font-weight: 300;
    text-align: center;
    color: $base-font-color;
}
.our-team {
    background-color: $base-font-color;
}
.autoplay {
    display: flex;
    height: 440px;
}
.people {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    width: 30%;
    h1 {
        text-align: center;
        font-size: 26px;
        color: $font-color-darker;
    }
    p {
        font-weight: 400;
        font-size: 18px;
        color: $font-color-light;
        text-align: center;
    }
    img {
        display: inline-block;
        margin: 0 auto;
    }
    // .social-icon {
    //     // border: 1px solid red;
    //     margin: 0 auto;
    //     float: inherit;
    //     img {
    //     margin: 0 auto;
    //     }
    // }
    .img-left {
        float: left;
    }
    .img-right {
        float: right;
    }
    .team-foto {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-image: url("../images/team5.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }
}
.numbers {
    background-color: $base-font-color;
    display: flex;
    li {
        list-style-type: none;
        flex-direction: column;
    }
}
.our-skills {
  margin: 100px 0;
}
.skills {
    display: flex;
    margin: 80px 0;
    table {
        margin: 0 auto;
    }
    td {
        padding: 5px;
        text-transform: uppercase;
    }
    .number {
        color: $font-color-darker;
        text-align: right;
        margin: 20px 0;
    }
    .progress {
        text-align: center;
    }
}
.numbers {
    background-color: $background-color-darker;
    display: flex;
    .statistics {
        margin: 0 auto;
        padding: 50px 0;
    }
    td {
      padding: 10px;
    }
    .nr {
        font-size: 32px;
        text-align: center;
    }
    .txt {
        font-size: 16px;
        color: $font-color-darker;
    }
}
.avatar {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.quotation {
    text-align: center;
    font-size: 33px;
}
.thought {
    color: $font-color-slider2;
    font-weight: 300;
}
.author {
    text-transform: uppercase;
    font-size: 20px;
    color: $font-color-slider2-lighter;
}
.slider2 {
    padding: 30px 0;
}
.t1 {
    background-image: url("../images/t1.jpg");
}
.t2 {
    background-image: url("../images/t2.jpg");
}
.t3 {
    background-image: url("../images/t3.jpg");
}
.t4 {
    background-image: url("../images/t4.jpg");
}
.t5 {
    background-image: url("../images/t5.jpg");
}
.t6 {
    background-image: url("../images/t6.jpg");
}
.tags {
    background-color: white;
}
.all-btn {
    display: flex;
    justify-content: center;
}
.small-btn {
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    width: 84px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 300;
    background-color: white;
    margin: 50px 10px;
    &:hover {
        border: none;
        background-color: $font-color;
        color: white;
    }
}
.all {
    width: 360px;
    height: 402px;
    background-repeat: no-repeat;
    background-position: center;
}
.i1 {
    background-image: url("../images/t1.jpg");
}
.i2 {
    background-image: url("../images/t2.jpg");
}
.i3 {
    background-image: url("../images/t3.jpg");
}
.i4 {
    background-image: url("../images/t4.jpg");
}
.i5 {
    background-image: url("../images/t5.jpg");
}
.i6 {
    background-image: url("../images/t6.jpg");
}
.picture {
    display: flex;
    flex-wrap: wrap;
}
.section-form {
    display: flex;
}
.contact-details {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 20px;
    input,
    textarea {
        font-size: 18px;
        width: 500px;
        padding: 20px;
        margin: 10px;
        border: 0.5px solid $form-border;
    }
    span {
        width: 100px;
        text-align: center;
    }
}
.more-info {
    margin-top: 100px;
    text-align: left;
    width: 800px;
    a,
    p {
        margin-left: 20px;
    }
    .more-info-txt {
        font-size: 18px;
        color: #5D5D5D;
    }
    .more-info-adress {
        color: #222222;
        margin: 30px 0 30px 20px;
        font-size: 21px;
        font-weight: 700;
    }
}
footer {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.clear {
    clear: both;
}
